/* Schriften - Standards*/
h1{
    font-family: 'Inter';
    font-size: 54px;
}

h2{
    font-family: 'Inter';
    font-size: 42px;
    text-transform: uppercase;
}

h3{
    font-family: 'Inter';
    font-size: 35px;
}

p{
    font-family: 'Inter';
    font-size: 25px;
}

@font-face {
    font-family: 'Inter';
    src: url('Interfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
